@charset "UTF-8";
body {
  position: relative;
  font: 18px/21px "FuturaFuturisLightC", sans-serif;
  color: #767676;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  overflow: hidden; }

.container_big {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  margin: 0 auto; }

@media (min-width: 768px) and (max-width: 991px) {
  .container_big {
    padding: 0 40px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .container_big {
    padding: 0 40px; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .container_big {
    width: 1170px;
    padding: 0 10px; } }

.header {
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #000;
  font-size: 60px;
  line-height: 65px;
  font-weight: 400; }

.text--title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #000; }

.text--undertitle {
  font-family: "FuturaMediumC", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400; }

.text--bold {
  font-family: "Gilroy-ExtraBold", sans-serif; }

.text--medium {
  font-family: "FuturaMediumC", sans-serif; }

.text--yellow {
  color: #ffe400; }

.text--grey {
  color: #767676; }

.text--white {
  color: #fff; }

.text--black {
  color: #000; }

.shifted_left {
  padding-left: 100px; }

.text--borderb {
  position: relative;
  display: inline-block;
  z-index: 2; }
  .text--borderb:before {
    content: '';
    position: absolute;
    width: 102%;
    left: -1%;
    bottom: 0px;
    background-color: #ffe400;
    height: 4px;
    z-index: -1; }
  .text--borderb_big:before {
    height: 10px;
    background-color: #b9a500; }
  .text--borderb_medium:before {
    height: 6px;
    background-color: #b9a500; }
  .text--borderb_white:before {
    background-color: #fff; }

.underline {
  position: relative; }
  .underline:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 40px;
    height: 4px;
    background-color: #000; }
  .underline--white:before {
    background-color: #fff; }
  .underline--sm:before {
    width: 20px;
    bottom: -40px; }
  .underline--top:before {
    top: -30px;
    bottom: initial; }

.tablet_view {
  display: none; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-height: 75px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #000;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #000; }

.btn {
  height: 50px;
  max-width: 310px;
  width: 100%;
  -webkit-box-shadow: 0 15px 21px rgba(255, 228, 0, 0.28);
  box-shadow: 0 15px 21px rgba(255, 228, 0, 0.28);
  background-color: #ffe400;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #000;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn--small {
    max-width: 200px; }
  .btn--big {
    max-width: 340px; }
  .btn:hover {
    -webkit-box-shadow: 0 15px 21px rgba(255, 28, 28, 0.28);
    box-shadow: 0 15px 21px rgba(255, 28, 28, 0.28);
    background-color: #ff1c1c;
    color: #fff; }
  .btn:active {
    -webkit-box-shadow: 0 15px 21px rgba(255, 28, 28, 0.28);
    box-shadow: 0 15px 21px rgba(255, 28, 28, 0.28);
    background-color: #cc0f0f;
    color: #fff; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #ffe400; }

/* BUTTON scrollUP END*/
.phone {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  font-size: 14px; }
  .phone:hover {
    color: #ffe400; }
    .phone:hover path {
      fill: #ffe400 !important; }
  .phone svg {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .phone svg path {
      -webkit-transition: all .3s;
      transition: all .3s; }

.call_back {
  max-width: 181px;
  width: 100%;
  height: 41px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.4px; }
  .call_back:hover {
    background-color: #ffe400;
    color: #000; }
  .call_back:active {
    background-color: #a19000;
    color: #000; }

.logo_text {
  float: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.4px; }
  .logo_text:before {
    bottom: -20px; }

.section_00 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/sec_00-bg.jpg);
  position: relative;
  padding: 35px 0 55px;
  min-height: 100vh; }
  .section_00 .call_back {
    float: right;
    margin-top: 15px; }
  .section_00 .main_content {
    margin-top: 110px;
    margin-bottom: 85px; }
  .section_00 .header_main {
    font-size: 128px;
    line-height: 1;
    margin-bottom: 25px;
    position: relative; }
    .section_00 .header_main:before {
      content: 'Революция сознания';
      position: absolute;
      width: 100px;
      right: -90px;
      bottom: 0;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      font-family: "Gilroy-ExtraBold", sans-serif;
      letter-spacing: 0.9px;
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      letter-spacing: 0.9px; }
  .section_00 .header_main-desc {
    font-size: 30px;
    line-height: 1; }
  .section_00 .item {
    margin: 145px 0 40px; }
  .section_00 .btn {
    margin: 45px 0 70px; }
  .section_00 .btn_dwn {
    will-change: transform;
    -webkit-transform-origin: left 51%;
    -ms-transform-origin: left 51%;
    transform-origin: left 51%;
    -webkit-transform: rotate(-90deg) translateZ(0);
    transform: rotate(-90deg) translateZ(0);
    font-size: 12px;
    float: left;
    letter-spacing: 1.2px; }
  .section_00 .phone {
    float: right; }
    .section_00 .phone path {
      fill: #fff; }
  .section_00 .play_wrapper {
    margin-top: 290px; }
    .section_00 .play_wrapper .play_btn:hover #wcteb, .section_00 .play_wrapper .play_btn:hover #wcteb5 {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #fff; }

@media (min-width: 992px) and (max-width: 1200px) {
  .section_00 .header_main {
    font-size: 114px; }
    .section_00 .header_main:before {
      right: -130px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .section_00 {
    min-height: auto; }
    .section_00 .header_main {
      font-size: 80px; }
      .section_00 .header_main:before {
        right: -120px; }
    .section_00 .header_main-desc {
      font-size: 28px; }
  .tablet_view {
    display: block; }
  footer .politics a {
    font-size: 13px; } }

@media screen and (max-height: 760px) {
  .md_large .md_content {
    max-height: 320px; } }

.mobile_view {
  display: none; }

@media (max-width: 767px) {
  .desctop_tablet_view {
    display: none !important; }
  .container_big {
    padding: 0 20px; }
  .mobile_view {
    display: block; }
  .section_00 {
    padding-top: 20px;
    background-image: url("../img/sec_00-bg-mob.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color: #fff;
    min-height: auto; }
    .section_00 .text {
      color: #ececec; }
    .section_00 .play_btn {
      position: absolute;
      right: 20%;
      top: 200px; }
    .section_00 .header_main {
      font-size: 76px; }
      .section_00 .header_main:before {
        display: none; }
    .section_00 .col-5 {
      display: none; }
    .section_00 .call_back {
      margin-top: 0; }
    .section_00 .main_content {
      margin-bottom: 20px; }
    .section_00 .btn_dwn {
      display: none; }
    .section_00 .phone {
      float: left; }
  footer {
    text-align: center; }
    footer [class*='col-'] {
      width: 100%; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 530px) {
  .section_00 {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url(../img/sec_00-bg-mob_sm.jpg); }
    .section_00 .call_back {
      border: none;
      font-size: 0px;
      color: transparent;
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      background-image: url(../img/call-icon.svg); }
    .section_00 .main_content {
      margin-top: 50px; }
    .section_00 .play_btn {
      position: static;
      margin: 0 auto;
      text-align: left; }
    .section_00 .header_main {
      font-size: 46px; }
      .section_00 .header_main:before {
        display: none; }
    .section_00 .header_main-desc {
      font-size: 20px;
      margin-bottom: 40px; }
    .section_00 .text .desctop_view, .section_00 .text br {
      display: none; }
    .section_00 .item {
      margin: 50px 0 30px; }
    .section_00 .btn {
      margin: 30px 0; }
  .text--borderb {
    display: inline; }
    .text--borderb:before {
      display: none; } }

@media (max-height: 680px) {
  .section_00 .main_content {
    margin-top: 50px; }
  .section_00 .item {
    margin-top: 90px; } }
