@import "bourbon";



$main_text_color: #767676;;
$main_color : #ffe400;
$_black: #000;
$_white: #fff;

$main_font: 'FuturaFuturisLightC', sans-serif;
$medium_font: 'FuturaMediumC', sans-serif;
$bold_font: 'Gilroy-ExtraBold', sans-serif;
